requests 
beautifulsoup4 
langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
openai 
psycopg2-binary
ipykernel
python-dotenv
playwright
pgvector
fastapi 
uvicorn 
python-dotenv
google-generativeai
langchain-google-genai
pydantic-settings
